<!-- Generated template for the PlaceInfoComponent component -->
<div>
  <div class='title'>
    Casa Sarita
  </div>
  <div class='type layout_mg_top_sm'>
    <span>
      Ресторан
    </span>
    <ion-badge class='dist'>
      4 км
    </ion-badge>
  </div>
  <div class='gallery layout_mg_top_sm'>
    <img src='assets/imgs/place_info.png'>
  </div>
  <div class='info-item'>
    <span>
      <span class='is-closed'>
        Закрыто.
      </span>
      Открыто с 19:00
    </span>
    <ion-icon name="ios-time-outline"></ion-icon>
  </div>
  <div class='info-item'>
    <span class='phone'>
      +91 932 272 1234
    </span>
    <ion-icon name="ios-call-outline"></ion-icon>
  </div>
  <div class='info-item'>
    <span>
      goa.park.hyatt.com
    </span>
    <ion-icon name="ios-globe-outline"></ion-icon>
  </div>
  <div class='info-item'>
    <span>
      House No.7/161 Suntra Vaddo
    </span>
    <ion-icon name="ios-pin-outline"></ion-icon>
  </div>
  <div class='description'>
    В номерах отеля Casa Sarita имеются мини-бар, телевизор и собственная ванная комната с душем и бесплатными туалетно-косметическими принадлежностями. Производится доставка еды и напитков в номер.
  </div>
  <div class='buttons layout_mg_top_md'>
    <ion-grid>
      <ion-row nowrap>
        <ion-col col-6>
          <button ion-button round outline color='primary'>Маршрут</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button round color='primary'>Сообщить о проблеме</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>