<ion-grid>
  <ion-row nowrap>
    <ion-col class='item'>
      <div class='item__title'>
        Сегодня
      </div>
      <div class='forecast-wrapper'>
        <div class='icon icon_sun'>
        </div>
        <div class='temp-day'>
          32°
        </div>
        <div class='temp-night'>
          22°
        </div>
      </div>
    </ion-col>
    <ion-col class='item'>
      <div class='item__title'>
        Завтра
      </div>
      <div class='forecast-wrapper'>
        <div class='icon icon_sun'>
        </div>
        <div class='temp-day'>
          36°
        </div>
        <div class='temp-night'>
          19°
        </div>
      </div>
    </ion-col>
    <ion-col class='item'>
      <div class='item__title'>
        Послезавтра
      </div>
      <div class='forecast-wrapper'>
        <div class='icon icon_sun'>
        </div>
        <div class='temp-day'>
          30°
        </div>
        <div class='temp-night'>
          16°
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>