<!-- <img src='assets/imgs/place_1.png'/> -->
<img [src]="image"/>
<div class='wrapper'>
  <div class='header'>
    <ion-badge class='place'>
      {{place}}
    </ion-badge>
    <ion-badge class='distance'>
      {{distance}}
    </ion-badge>
  </div>
  <div class='footer'>
    <div class='title'>
      {{title}}
    </div>
    <div class='subtitle'>
      {{subtitle}}
    </div>
    <div class='icon-wrapper'>
      <ion-icon name="ios-arrow-forward" color="white" item-start></ion-icon>
    </div>
  </div>
</div>
<!-- <img src='assets/imgs/place_1.png'/>
<div class='wrapper'>
  <div class='header'>
    <ion-badge class='place'>
      Водопад
    </ion-badge>
    <ion-badge class='distance'>
      10 км
    </ion-badge>
  </div>
  <div class='footer'>
    <div class='title'>
      Арвалем
    </div>
    <div class='subtitle'>
      Водопад высотой в 50 метров
    </div>
    <div class='icon-wrapper'>
      <ion-icon name="ios-arrow-forward" color="white" item-start></ion-icon>
    </div>
  </div>
</div> -->